h2
{  
     color: #856861;
	 font-family: verdana;
} 
p
{
	color: #09B82B;
	font-size:18px;
	font family: verdana;
}
.btn
{
   background-color:#E70B0B;
   border: none;
   padding: 10px;
   color: #ffffff;
}
.btn:hover

{
	
	background -color: #000000;
}